.center {
    display: block;
    text-align: center;
    object-fit: none;
}

form {
    display: inline-block;
    text-align: center;
}

.guide {
    text-align: center;
    border-style: dashed;
    background-color: lightblue;
}