.center {
    display: block;
    text-align: center;
    object-fit: none;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
}

form {
    display: inline-block;
    text-align: center;
}