<!doctype html>
<title>Duc Linh meme</title>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div align="center">
        <div class="guide">
            <p>Để mặc định và bấm nút thì ra hình và điều ước ngẫu nhiên
                <br>Nhập điều ước vào ô hoặc chọn từ danh sách thuộc tính có sẵn của Đức Linh =))
                <br>Chọn hình hoặc để Đức Linh chọn một hình ngẫu nhiên (mời đóng góp thêm những khoảnh khắc bá đạo của Đức Linh)
                <br>Bấm vào hình để tải xuống.
                <br>Muốn tham gia xây dựng app hãy nói với bạn Quý
                <br>
            </p>
        </div>
        <form action="/" method="POST">
            Ước gì
            <input list="text" name="text" /> như Đức Linh
            <datalist id="text">
                {% for item in list %}
                <option value="{{ item }}">
                    {% endfor %}
            </datalist>
            <br>
            <br> Chọn hình
            <select name="template">
                <option value="random">Để Đức Linh quyết định</option>
                <option value="template0.jpg">Mặt ngầu vãi đái</option>
                <option value="template1.jpg">Soái ca sơ mi trắng</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Thật thú zị!">
        </form>
    </div>
    <div align="center">
        <a href="{{url_for('static', filename='temp.png')}}" download>
            <img class="center" src="{{url_for('static', filename='temp.png')}}" />
        </a>
    </div>
</body>

</html>