<!doctype html>
<title>Duc Linh meme</title>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div align="center">
        <form action="/" method="POST">
            Ước gì
            <input type="text" name="text"> như Đức Linh
            <br>
            <select name="template">
                <option value="random">Để Đức Linh quyết định</option>
                <option value="template0.jpg">Mặt ngầu vãi đái</option>
                <option value="template1.jpg">Soái ca sơ mi trắng</option>
            </select>
        </form>
    </div>
    <div align="center">
        <img class="center" src="{{url_for('static', filename='temp.png')}}" />
    </div>
</body>

</html>